:javascript
  window.fbAsyncInit = function() {
    FB.init({
      appId      : '760451830716871',
      xfbml      : true,
      version    : 'v2.2'
    });
  };

  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/sdk.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'facebook-jssdk'));

.fb-like{"class": "fb-like", "data-share": "true", "data-width": 450, 
  "data-show-faces": "true"}

%h1 Listing cities
-# .polimap-links
-#   = facebook_button
-#   = twitter_button

%table
  %thead
    %tr
      %th Name
      %th Lat
      %th Lng
      %th
      %th
      %th
      
  %tbody
    - @cities.each do |city|
      %tr
        %td= city.name
        %td= city.lat
        %td= city.lng
        %td= link_to 'Show', city
        %td= link_to 'Edit', edit_city_path(city)
        %td= link_to 'Destroy', city, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New City', new_city_path
<paper-checkbox checked></paper-checkbox>

