%p#notice= notice

%p
  %b Name:
  = @city.name
%p
  %b Lat:
  = @city.lat
%p
  %b Lng:
  = @city.lng
%p
  %b Members:
  - @city.members.each do |member|
    = link_to member.name.titleize, member_url(member)

%p
  %b Members:
  %br
  - @city.votes.each do |vote|
    = link_to "#{vote.party.name}: #{vote.amount}", vote
    %br

= link_to 'Edit', edit_city_path(@city)
\|
= link_to 'Back', cities_path
