<!DOCTYPE html>
<html>
<head>
  <title>Polimap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta property="og:image", content="/assets/facebook_image.png"/>
  <meta property="og:url", content="<%=root_url%>"/>
  <meta property="og:title", content="מפה פוליטית של ישראל"/>
</head>
<body>

<%= yield %>

</body>
</html>
