<!DOCTYPE html>
<html>
<head>
  <title>Polimap</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= html_import_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>

  <meta property="og:image", content="<%=absolute_image_helper%>"/>
  <meta property="og:url", content="<%=root_url%>"/>
  <meta property="og:title", content="מפה פוליטית של ישראל"/>
  <meta property="og:site_name", content="polimap"/>
  <meta property="og:app_id", content="760451830716871"/>
  <meta property="og:description", content="האתר מציג מפת חום של מדינת ישראל, יחד עם התוצאות של בחירות 2013 בכל ישוב. כמו כן עבור כל מפלגה ניתן לראות באילו איזורים היא דומיננטית יותר, ובאילו פחות"/>
</head>
<body>

<%= yield %>

</body>
</html>
